
body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 80px;
  text-transform: uppercase;
}

#content {
  font-size: 70px;
  position: relative;
}

.key {
  display: block;
  margin-left: -100px;
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: scale(0);
  width: 200px;
  
  -webkit-animation: expand-and-fade ease-in 2s;
  animation: expand-and-fade ease-in 2s;
}

@keyframes expand-and-fade {
  from {
    opacity: 1;
    transform: scale(0);
  }
  
  to {
    opacity: 0;
    transform: scale(4);
  }
}

@-webkit-keyframes expand-and-fade {
  from {
    opacity: 1;
    transform: scale(0);
  }
  
  to {
    opacity: 0;
    transform: scale(4);
  }
}

@-o-keyframes expand-and-fade {
  from {
    opacity: 1;
    transform: scale(0);
  }
  
  to {
    opacity: 0;
    transform: scale(4);
  }
}

@-moz-keyframes expand-and-fade {
  from {
    opacity: 1;
    transform: scale(0);
  }
  
  to {
    opacity: 0;
    transform: scale(4);
  }
}